html, body {
  height: 100%;
}

body {
  background-color: #ecf0f1;
  color: #efefef;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-top {
  color: #555;
  background-color: #ddd;
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 16px;
  display: flex;
  flex-flow: row wrap;
}

.header-top div {
  flex-grow: 1;
}

.header-top a {
  font-weight: bold;
}

.header-top .team-choice {
  text-align: right;
}

.header-top .display-choice {
  text-align: center;
}

.header-users {
  background-color: #3cc0bf;
}

.container {
  padding: 20px 30px;
}

ul.pulls {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.pulls li {
  margin-bottom: 10px;
  padding: 0 20px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.pulls li .link, ul.pulls li .pull-right {
  white-space: nowrap;
}

ul.pulls li.status {
    background-color: #202831;
}
ul.pulls li.status.success {
    background-color: #39c5a0;
}
ul.pulls li.status.failure, ul.pulls li.status.error {
    background-color: #ac3939;
}
ul.pulls li.status.pending {
    background-color: #cea61b;
}
ul.pulls li .avatar {
  margin: 5px 5px 5px -15px;
  border-radius: 9000px;
  height: 30px;
  vertical-align: middle;
}

ul.pulls .date {
  margin-left: 12px;
}
ul.pulls .repo {
    font-weight: bold;
}

.pull-right {
  float: right;
  text-align: right;
}

.clearer {
  line-height: 0;
  clear: both;
}


/**
 * Overwrites for wall-display version
 */

body.wall-display {
  margin: 0;
  padding: 0;
}

.container.wall-display {
  height: 100%;
  padding: 0;
}

.wall-display ul.pulls {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.wall-display ul.pulls li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  line-height: initial;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wall-display ul.pulls li .avatar {
  border-radius: 50%;
  height: 5.25em;
  margin: 0;
  padding: 0;
}

.wall-display .pull-number {
  font-size: 4em;
  font-weight: bold;
}

.wall-display .labels {
  font-size: 1.5em;
}

.wall-display .repo {
  font-size: 1.5em;
}
