body {
  background-color: #ecf0f1;
  color: #efefef;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-top {
  color: #555;
  background-color: #ddd;
  background-repeat: repeat-x;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 16px;
}

.header-top a {
  font-weight: bold;
}

.header-top select {
  float: right;
  margin-right: 6px;
} 

.header-users {
  background-color: #3cc0bf;
}

.container {
  padding: 20px 30px;
}

ul.pulls {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.pulls li {
  margin-bottom: 10px;
  padding: 0 20px 0 0;
  height: 40px;
  line-height: 40px;
}

ul.pulls li.status {
    background-color: #202831;
}
ul.pulls li.status.success {
    background-color: #39c5a0;
}
ul.pulls li.status.failure {
    background-color: #ac3939;
}
ul.pulls li.status.pending {
    background-color: #cea61b;
}
ul.pulls li .avatar {
  margin: 5px;
  border-radius: 9000px;
  height: 30px;
  vertical-align: middle;
}

ul.pulls .date {
  margin-left: 12px;
}
ul.pulls .repo {
    font-weight: bold;
}

.pull-right {
  float: right;
}
