Vagrant::Config.run do |config|
    config.vm.host_name = "github-team-reviewer"

    config.vm.box = "precise32"
    config.vm.box_url = "http://files.vagrantup.com/precise32.box"

    config.vm.network :hostonly, "10.0.0.2", :netmask => "255.255.255.0"
    config.vm.forward_port 9000, 9000

    config.vm.share_folder("vagrant-root", "/vagrant", ".", :nfs => false)

    $script = <<EOF
puppet module install maestrodev/wget --force --modulepath '/vagrant/modules'
puppet module install puppetlabs/stdlib --force --modulepath '/vagrant/modules'
puppet module install willdurand/nodejs --force --modulepath '/vagrant/modules'
EOF

    config.vm.provision :shell, :inline => $script
    config.vm.provision :shell, path: "manifests/bootstrap.sh"
    config.vm.provision :puppet do |puppet|
        puppet.module_path = "modules"
        puppet.manifests_path = "manifests"
        puppet.manifest_file  = "init.pp"
    end
end
