{
    "config": {
        "refreshInterval": 90,
        "teams": {
            "teamWithStaticToken": {
                "members": ["username1", "username2", "username3"],
                "projects": ["repo1", "repo2"],
                "orgs": ["orgname1", "orgname2"],
                "token": "apiToken",
                "descendingOrder": true
            },
            "teamWithOAuth": {
                "members": ["username4", "username2", "username5"],
                "orgs": ["orgname2", "orgname4"],
                "apiUrl": "https://github.enterprise.fr/api/v3",
                "oauthAppClientId":"c13n71D"
            }
        },
        "githubOAuth": {
            "gatekeeperBaseUrl": "http://localhost:9999",
            "apps": [
                {
                    "url": "https://github.enterprise.fr",
                    "clientId":"c13n71D"
                },
                {
                    "url": "https://github.com",
                    "clientId":"t0k3n5"
                }
            ]
        }
    }
}
