{
    "config": {
        "refreshInterval": 90,
        "teams": {
            "myTeam": {
                "members": ["username1", "username2", "username3"],
                "orgs": ["orgname1", "orgname2"],
                "apiUrl": "https://api.github.com",
                "token': "apiToken"
            }
        }
    }
}
