<header class="header-top">
    <div class="link">
        <a href="http://github.com/m6web/GithubTeamReviewer">Github Team Reviewer</a> by <a href="http://tech.m6web.fr">M6Web</a>
    </div>
    <div class="display-choice">
        List <input type="radio" ng-model="display" value="list">
        <input type="radio" ng-model="display" value="wallDisplay"> Wall Display
    </div>
    <div class="team-choice">
        <select ng-model="team" ng-options="teamName as teamName for (teamName, team) in teams"></select>
    </div>
</header>

<div class="container" ng-class="{'wall-display': display === 'wallDisplay'}">
    <ul class="pulls" ng-if="display === 'list'">
        <li ng-repeat="pr in toArray(pulls) | orderBy:'updated_at':descendingOrder" ng-class="pr.statuses[0].state" class="status">
            <span class="link"><img class="avatar" ng-src="{{ pr.user.avatar_url}}" title="{{ pr.user.login }}" /><a ng-href="{{pr.html_url}}" >#{{ pr.number }} {{ pr.title }}</a></span>
            <span class="pull-right">
                <span class="repo"><a ng-href="{{pr.head.repo.html_url}}" >{{ pr.head.repo.full_name }}</a></span>
                <span class="date">{{pr.updated_at | date:"dd/MM/yyyy"}}</span>
            </span>
            <div class="clearer">&nbsp;</div>
        </li>
    </ul>

    <ul class="pulls" ng-if="display === 'wallDisplay'">
        <li ng-repeat="pr in toArray(pulls) | orderBy:'updated_at':descendingOrder" ng-class="pr.statuses[0].state" class="status">
            <img class="avatar" ng-src="{{ pr.user.avatar_url}}" title="{{ pr.user.login }}" />
            <div class="pull-number" title="{{pr.title}}"><a ng-href="{{pr.html_url}}" >#{{ pr.number }}</a></div>
            <div class="labels">
                <span ng-if="!pr.labels.length">&nbsp;</span>
                <span class="label" ng-repeat="label in pr.labels" ng-style="{'background-color': '#' + label.color, 'color': '#' + getVisibleTextColor(label.color)}">{{label.name}}</span>
            </div>
            <div class="repo"><a ng-href="{{pr.head.repo.html_url}}" >{{ pr.head.repo.name }}</a></div>
        </li>
    </ul>
</div>
