<header class="header-top">
  <a href="http://github.com/m6web/GithubTeamReviewer">Github Team Reviewer</a> by <a href="http://tech.m6web.fr">M6Web</a>
  <div ng-show="oauthEnabled" class="pull-right popover-container">
    <a class="btn btn-link" ng-click="authPopover = !authPopover">Auth</a>
    <div class="popover bottom" ng-show="authPopover">
      <div class="arrow"></div>
      <div class="popover-content">
        <ul>
          <li ng-repeat="login in loginUrls" class="login-li"><a href="{{ login.loginUrl }}">Authenticate to {{ login.githubHostname }}</a></li>
          <li ng-repeat="logoutData in logoutClientIds" class="logout-li"><a ng-click="logout(logoutData.clientId)">Logout from {{ logoutData.githubHostname }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <span class="pull-right pr-counter">{{ toArray(pulls).length }} PR</span>
  <select ng-model="team" ng-options="teamName as teamName for (teamName, team) in teams"></select>
  <input ng-show="reviews" class="pull-right" ng-model="reviewer" type="text" placeholder="Reviewer login"/>
</header>

<div class="container">
    <ul class="pulls">
        <li ng-repeat="pr in toArray(pulls) | orderBy:'updated_at':descendingOrder" ng-class="pr.statuses[0].state" class="status">
            <span class="link">
                <img class="avatar" ng-src="{{ pr.user.avatar_url}}" title="{{ pr.user.login }}" />
                <a ng-href="{{pr.html_url}}" >#{{ pr.number }} {{ pr.title }}</a>
                <span class="badge badge-label" ng-repeat="label in toArray(pr.labels)" style="background-color: #{{ label.color }}">{{ label.name }}</span>
                <span ng-show="countReviews(pr.reviews_unique, 'APPROVED')" ng-class="{'reviewer' : countReviews(pr.reviews_unique, 'APPROVED', true)}" class="badge-review fa fa-thumbs-up">{{ countReviews(pr.reviews_unique, 'APPROVED') }}</span>
                <span ng-show="countReviews(pr.reviews_unique, 'CHANGES_REQUESTED')" ng-class="{'reviewer' : countReviews(pr.reviews_unique, 'CHANGES_REQUESTED', true)}" class="badge-review fa fa-thumbs-down">{{ countReviews(pr.reviews_unique, 'CHANGES_REQUESTED') }}</span>
                <span ng-show="countReviews(pr.reviews_unique, 'COMMENTED')" ng-class="{'reviewer' : countReviews(pr.reviews_unique, 'COMMENTED', true)}" class="badge-review fa fa-comment">{{ countReviews(pr.reviews_unique, 'COMMENTED') }}</span>
            </span>
            <span class="pull-right">
                <span class="badge badge-milestone" ng-show="pr.milestone != null">{{ pr.milestone.title }}</span>
                <span class="repo"><a ng-href="{{pr.head.repo.html_url}}" >{{ pr.head.repo.full_name }}</a></span>
                <span class="date">{{pr.updated_at | date:"dd/MM/yyyy"}}</span>
            </span>
            <div class="clearer">&nbsp;</div>
        </li>
    </ul>
</div>
